$lineAdded = rgb(0,255,0)
$lineDeleted = rgb(255,0,0)

body
    margin: 20px
    font-size: 0.8em

h3
    font-size: 0.9em
    font-style: italic

body,
code
    font-family: Monaco, monospace, sans-serif

pre
    background-color: rgb(200,200,200)

code#fileContent
    font-size: 0.9em
    
span.lineAdded
    background-color: $lineAdded

span.lineDeleted
    background-color: $lineDeleted

section#navigation
    background-color: rgb(40,40,40)
    top: 0
    left: 0
    position: fixed
    width: 100%
    
    p
        margin: 0
        padding: 0.3em
    
    span#numCommit
        font-size: 0.8em
        color: rgb(185,185,185)
    
    span#commitMessage
        font-size: 1.1em
        color: white
    
    span#commitAuthor
        font-size: 0.9em
        color: rgb(185,185,185)
        
    span#commitDate
        font-size: 0.9em
        color: rgb(119,119,119)
    