@import 'nib'

body
    margin 20px
    font-size 0.8em

body,
code
    font-family Monaco, monospace, sans-serif

span.fileSelectLabel
    display inline-block
    width 110px

input#file
    width 500px

p#getFileHistoryError
    color red

pre#fileHistory
    
code#fileContent
    font-size 0.9em
    background-color rgb(200,200,200)