// GitHub username and password. Required to access private repositories.
// Rename this file to github-credentials.js (remove the '.sample').
exports.username = 'yourgithubusername';
exports.pw = 'yourgithubpassword';