extend layout
block content
    p Enter a file on GitHub:
    form#fileSelect
        p
            span.fileSelectLabel
                label(for='user') Username
            input#user(type='text', value='delivero')

        p
            span.fileSelectLabel
                label(for='repo') Repository
            input#repo(type='text', value='core_frontend')

        p
            span.fileSelectLabel
                label(for='file') Path to file
            input#file(type='text', value='core/commands.py')
        p
            input(type='submit', value='Scan file history')
    p#getFileHistoryError
    pre#fileHistory
        code#fileContent