doctype 5
html
    head
        title #{title} - Gitbert
        link(rel='stylesheet', href='/css/style.css')
    body
        header
            h1 Gitbert
        .container
            .main-content
                block content
        script(src='js/jquery-1.9.1.min.js')
        script(src='js/gitbert.js')
        script
            $(document).ready(function () {
                gb.init({
                    fileSelectForm: 'form#fileSelect',
                    userInput: 'input#user',
                    repoInput: 'input#repo',
                    fileInput: 'input#file',
                    getFileHistoryError: 'p#getFileHistoryError',
                    fileHistory: 'pre#fileHistory',
                    fileContent: 'code#fileContent'
                });
            });