<!DOCTYPE html>
    <head>
        <title>{{ pageTitle }}</title>
        <link href="{{ 'css/main.css' | staticFileUrl }}" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <header>
            <h1>{{ heading }}</h1>
            <h2>{{ file }}</h2>
        </header>
        <script src="{{ 'bower_components/jquery/jquery.min.js' | staticFileUrl }}"></script>
        <script src="{{ 'bower_components/lodash/dist/lodash.underscore.min.js' | staticFileUrl}}"></script>
        <script src="{{ 'bower_components/backbone/backbone-min.js' | staticFileUrl }}"></script>
        <script src="{{ 'bower_components/react/react.min.js' | staticFileUrl }}"></script>
        <script>window.GitBert = {};</script>
        <script src="{{ 'js/views/StatusView.js' | staticFileUrl }}"></script>
        <script src="{{ 'js/gitbert.js' | staticFileUrl }}"></script>
        <script>
            GitBert.init({{ commitsJson }});
        </script>
    </body>
</html>