<!DOCTYPE html>
    <head>
        <title>{{ pageTitle }}</title>
        <link href="{{ 'main.css' | staticFileUrl }}" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <header>
            <h1>{{ heading }}</h1>
            <h2>{{ fileText }} <a href="{{ fileUrl }}">{{ file }}</a></h2>
            <h3>{{ navHint }}</h3>
            <section id="navigation"></section>
        </header>
        <section>
            <pre>
                <code id="fileContent"></code>
            </pre>
        </section>
        <script src="{{ 'jquery/jquery.min.js' | staticFileUrl }}"></script>
        <script src="{{ 'lodash/dist/lodash.underscore.min.js' | staticFileUrl}}"></script>
        <!--
        <script src="{{ 'react/react.min.js' | staticFileUrl }}"></script>
        -->
        <script>
            // App namespace with bootstrapped constants.
            window.GitBert = {
                constants: {
                    baseUrl: '{{ baseUrl }}',
                    github: {
                        user: '{{ githubUser }}',
                        repo: '{{ githubRepo }}',
                        file: '{{ githubFile }}'
                    }   
                }
            };
        </script>
        <script src="{{ 'lib/DiffParser.js' | staticFileUrl }}"></script>
        <script src="{{ 'lib/EventDispatcher.js' | staticFileUrl }}"></script>
        <script src="{{ 'lib/SourceSanitizer.js' | staticFileUrl }}"></script>
        <script src="{{ 'lib/Utils.js' | staticFileUrl }}"></script>
        <script src="{{ 'models/CommitModel.js' | staticFileUrl }}"></script>
        <script src="{{ 'views/StatusView.js' | staticFileUrl }}"></script>
        <script src="{{ 'controllers/ContentController.js' | staticFileUrl }}"></script>
        <script src="{{ 'views/ContentView.js' | staticFileUrl }}"></script>
        <script src="{{ 'views/NavigationView.js' | staticFileUrl }}"></script>
        <script src="{{ 'main.js' | staticFileUrl }}"></script>
        <script>
            GitBert.init({{ commitsJson }});
        </script>
    </body>
</html>